:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #bdbdbd;
    --star--color: #ffce3d;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-seacrh-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* reponsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 0;
}

/* test */
.grid__column-2 {
    width: 16.667%;
    padding: 0 5px 0;
}

.grid__column-2-4 {
    width: 20%;
    padding: 0 5px 0;
}

.grid__column-3 {
    width: calc(100% / 3);
}

.grid__column-10 {
    width: calc(100% - 16.667%);
    padding: 0 5px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal section */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* button */

.btn {
    min-width: 124px;
    height: 36px;
    border-style: none;
    background-color: var(--white-color);
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.btn.btn-normal:hover {
    background-color: rgb(204, 204, 204, 0.5);
}

.btn--size-s {
    font-size: 1.2rem;
    height: 32px;
    padding: 0 8px;
}

.btn.btn-main {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-disable {
    background-color: #bdbdbd;
    cursor: default;
    color: #999;
}

/* select */ 

.select-input {
    height: 34px;
    min-width: 150px;
    padding: 0 12px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.select-input__label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input__icon {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    top: 1px;
    display: flex;
    flex-direction: column;
}



.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 10px 12px;
    list-style: none;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.select-input__list::before {
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    width: 100%;
    height: 12px;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 0 5px;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item--active .pagination-item__link   {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item {
    margin: 0 14px;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 2px;
}

