/* REPONSIVE */

/* PC */
@media(min-width: 1024) {
}

/* TABLET */

@media (max-width: 1366px) and (min-width: 740px) {
    /* header search */
    .header-search {
        padding-left: 42px;
    }
    
    .header__logo  {
        width: 175px;
    }

    .header__search-btn {
        width: 42px;
    }

    .header__search-select {
        width: 120px;
        padding-left: 2px;
    }

    .header__search-select-label {
        padding: 0 2px 0 4px;
    }

    .header__search-select-icon {
        margin: 0;
    }

    .header__navbar {
        height: 42px;
    }

    .header__cart {
        width: 100px;
    }

    .home-product {
        margin: 0 -29px 10px;
    }

    /* portait */
    .shop-portrait {
        width: 100%;
        min-height: 200px;
        overflow: hidden;
    }

    .shop-portrait__avatar-link {
        width: 100%;
        height: 100%;
        top: 0;
    }

    .shop-portrait__img {
        width: 15%;
        top: 50%;
        right: 50%;
        transform: translate(50%, -68%);
    }

    .shop-portrait__label {
        padding: 4px 6px;
        font-size: 1.4rem;
        bottom: 28%;
    }

    .shop-portrait__name {
        bottom: 15%;
    }

    .shop-portrait__status {
        bottom: 6%;
    }

    .shop-portrait__bg {
        background-position: left;
        background-size: 100%;
    }

    .mg-auto-reponsive {
        margin: auto;
        width: 90%;
    }

    .grid__column-2 {
        width: 90%;
        margin: auto;
    }

    .grid__row {
        margin: 0 24px;
    }

    .grid__column-10 {
        margin: auto;
        width: 90%;
    }
    .grid__column-2-4 {
        width: calc(100% / 3);
    }

    .grid__column-2-5 {
        width: 20%;
    }

    /* filter */
    .filter {
        padding: 12px 10px;
    }

    .filter__label {
        margin-right: 22px;
        text-align: center;
    }
    
    .filter__btn {
        min-width: 82px;
    }

    .select-input {
        min-width: 130px;
    }
    .filter__page-number {
        margin: 0 12px 0 20px;
    }

    /* category */
    .category {
        margin-bottom: 12px;
        padding: 6px 24px;
    }

    .category__heading {
        display: none;
    }

    .category-list {
        display: flex;
        overflow: auto;
    }

    .category-item {
        max-width: 130px;
        border-bottom: unset;
    }

    .category-item-link {
        padding: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /* footer */
    .footer-list {
        padding-bottom: 16px;
    }

    .pagination-item {
        margin: 0 8px;
    }

    .footer-license__heading-item {
        padding: 0 13px;
    }
}

/* MOBILE */

@media(max-width: 739px) {
    /* header search */
    .header {
        height: 100px;
    }

    .header-search {
        display: grid;
        grid-template-rows: 40px 60px;
        grid-template-columns: 5fr 1fr;
        grid-template-areas: 
        "c1 c1"
        "c2 c3"
        ;
        grid-column-gap: 8px;
    }
    .header__logo  {
        grid-area: c1;
        margin: auto;
        width: unset;
        margin-top: 4px;
    }

    .header__logo-img {
        width: 120px;
    }
    
    .header__search {
        grid-area: c2;
    }
    
    .header__cart {
        width: 60px;
        grid-area: c3;
    }
    .header__search-input {
        padding-left: 16px;
    }

    .header__search-input::placeholder {
        color: var(--primary-color);
    }

    .header__search-history {
        width: 100%;
        padding: 8px 16px;
    }

    .header__search-btn {
        width: 42px;
        background-color: transparent;
    }

    .header__search-btn-icon {
        color: #ccc;
    }
    
    .header__search-select {
        display: none;
    }

    .header__search-select-label {
        padding: 0 2px 0 4px;
    }

    .header__navbar {
        display: none;
    }

    .header__cart-icon {
        font-size: 2.8rem;
        grid-area: c1;
    }

    .header__cart-quatity {
        font-size: 1rem;
    }

    .header__cart-list {
        z-index: 3;
        width: 720%;
    }

    .home-product {
        margin: 0 -10px;
    }

    /* portait */
    .shop-portrait {
        width: 100%;
        overflow: hidden;
    }

    .shop-portrait__avatar-link {
        width: 100%;
        height: 100%;
        top: 0;
    }

    .shop-portrait__img {
        width: 15%;
        top: 50%;
        right: 50%;
        transform: translate(50%, -68%);
    }

    .shop-portrait__label {
        padding: 4px 6px;
        font-size: 1.4rem;
        bottom: 28%;
    }

    .shop-portrait__name {
        bottom: 15%;
    }

    .shop-portrait__status {
        bottom: 6%;
    }

    .shop-portrait__bg {
        background-position: left;
        background-size: 100%;
    }

    .mg-auto-reponsive {
        margin: auto;
        width: 100%;
    }

    .grid__column-2 {
        width: 100%;
        margin: auto;
    }

    .grid__row {
        margin: 0 5px;
    }

    .grid__column-10 {
        margin: auto;
        width: 100%;
    }
    .grid__column-2-4 {
        width: 50%;
    }

    /* filter */
    .filter {
        padding: 12px 10px;
    }

    .filter__label,
    .filter__page-switch,
    .filter__page-number {
        display: none;
    }
    
    .filter__btn {
        min-width: 22%;
        margin-right: 10px;
    }

    .select-input {
        min-width: 25%;
    }

    .select-input__icon-active {
        color: var(--primary-color);
    }

    .select-input:hover .select-input__list {
        display: none;
    }

    /* category */
    .category {
        margin-bottom: 12px;
        padding: 6px 24px;
    }

    .category__heading {
        display: none;
    }

    .category-list {
        display: flex;
        overflow: auto;
    }

    .category-item {
        max-width: 130px;
        border-bottom: unset;
    }

    .category-item-link {
        padding: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /* pagination */

    .pagination-item__link {
        min-width: 24px;
    }

    /* footer */
    .footer-list {
        padding-bottom: 16px;
    }

    .pagination-item {
        margin: 0 4px;
    }

    .footer-license-container {
        display: none;
    }

    .footer-license__heading-item {
        padding: 0 13px;
    }

}